*
{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
}
body
{
   background-color:#0d0d0d;
}
.searchInput
{
    width: 47%;
    
}
.form-control
{
    border-radius: 0%;
    border: 1px none rgba(255,255,255,.7);
    border-bottom: 1px solid rgba(255,255,255,.7);
}
.inputFocus
{
    background-color: transparent;
}
.inputFocus:focus
{
    background-color: transparent;
}
input::placeholder 
{
    text-align: center;
    font: 400 13.3333px Arial;
}
/**************************movies content****************************/


.moviesContent:hover .layer
{
    transform:translateY(0);
}
.layer
{
    background-color: rgba(255,255,255,.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform 1s;
    transform:translateY(100%);
}
.moviesContent
{
    position: relative;
    overflow: hidden;
}
/***********************************nav*********/
.menuBar
{
    background-color: #f8f6f6;
    transition: all 1s;
    height: 100vh;

}
.menuList
{
 background-color: black;
 height: 100vh;
 color: #f9f6f6;
 font-weight: 500;
 font-size: 16px;
 transition: all 1s;
}
.menu a
{
    color: #f9f6f6;
    font-weight: 500;
    font-size: 16px;
    padding-top: 15px;
    display: block;
    position: relative;

    
}
.menu a:hover
{
    color: #ff655c;
    text-decoration: none;
}
.menu
{
  

    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999;

}
.fas
{
    cursor: pointer;
}